.menu {
  background-color: #979797;
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu div {
  cursor: pointer;
  margin: 10px auto;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu div:hover {
  background-color: #8b8b8b;
}