.md-content {
  grid-area: md;
}
.text-field {
  font: 20px UbuntuMono;
  height: calc(100% - 50px);
  width: calc(100% - 40px);;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 10px;
  overflow: auto;
  resize: none;
  padding: 0;
  border: 0;
  white-space: pre-wrap;
}
.text-field:focus {
  outline: none;
}